
<div class="header">
  <h2 >Create a comment</h2>
</div>
<div class="create">
  <div class="container">
  <% @comment.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>

    <%= form_with model: [ @post, @comment], url: post_comments_path, method: "post" do |form| %> 
      <div class="row">
        <div class="mb-3">
          <%= form.label :comment %>
          <%= form.text_area :comment, class: "form-control form-control-sm", rows: "8", :required => true %> <br> 
        </div> 
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= form.submit "Submit", class: " btn btn-secondary btn-sm" %>
        </div>
    <% end %> 
  </div>
</div>
        


 