<div class="header">
  <div class="container">
    <h1>Create a post</h1>
  </div>
</div>

<div class="create">
  <div class="container">
   	<%= form_for @post, url: {action: "create"} do |form| %>  
        <div class="field"> 
            <%= form.label :title %>
            <%= form.text_field :title %> <br>
            <%= form.label :author %>
            <%= form.text_field :author %> <br>
            <%= form.label :category %>
            <%= form.text_field :category %> <br>
            <%= form.label :content %>
            <%= form.text_area :content %> <br>  
        </div> 
  <div class="actions"> 
    <%= form.submit "Create" %> 
  </div> 
    <% end %> 
</div>
    		


     