<div class="main blog-post">
  <div class="container">
    
    <div class="specfic-post">
      <div class="info">
        <h2 class="display-3"><%= @post.title %> </h2> <br>
        <p class="lead"> by <%= @post.author %>  </p>
        <p class="category"> Category: <%= @post.category %>  <p>
        <p class="content"><%= @post.content %>  </p>
        <p class="posted-at"><em>Created at: <%= @post.created_at %>  </em></p>
        

      </div>
    </div>

 

  </div>
</div>


    



