<div class="main blog-post">
  <div class="container">
    
    <div class="specfic-post">
    <h2 class="display-3"><%= @post.title %> </h2> <br>
      <div class="info">
        <p class="lead"> by <%= @post.author %>  </p>
        <ul class="list-inline">
          <li class="list-inline-item">Category: <%= @post.category %></li> 
          <li class="list-inline-item">Created at: <%= @post.created_at%></li>
        </ul> 
        </div>
        <p class="content"><%= @post.content %> </p>
      </div>
      <div class="btn1">
        <%= button_to "Delete", { action: "destroy" }, method: :delete, data:{confirm: 'Are you sure you wish to delete this blog?'}, class: 'btn btn-primary me-md-5 btn btn-primary btn-sm '  %>

        </div>
        <div class="edit-btn">

        <li><%= link_to "Edit ", edit_post_path(@post), class: ' btn btn-primary me-md-5 btn btn-primary btn-sm '%></li>

        </div>

        <li><%= link_to "Comment ", comment_path, class: ' btn btn-primary me-md-5 btn btn-primary btn-sm '%></li>

      </div>




</div>


    



